{# templates/programme/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Programmes{% endblock %}

{% block body %}
    <h1>Liste des Programmes</h1>
    <ul>
        {% for programme in programmes %}
            <li>
                <a href="{{ path('programme_show', {'id': programme.id}) }}">
                    {{ programme.titre }} - {{ programme.prix }} €
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
